html {
    font-size: 2vw;
    font-family: sans-serif;
    font-weight: 100;
    color: #e9f7ff;
    background: #222;
    margin: 1vw;
    display: flex;
    justify-content: center;
}

body {
    width: 45rem;
    margin: 0;
}

hr {
    border-color: #e9f7ff;
}

button {
    border-radius: 7px;
    background: none;
    outline: none;
    border: solid 1px #e9f7ff;
    color: #e9f7ff;
    width: 18rem;
    height: 9rem;
    border-width: 0.2rem;
}

.button-tiny {
    width: 8rem;
    height: 6rem;
    font-size: 2rem;
}

.button-small {
    width: 12rem;
    font-size: 2rem;
}

.button-back {
    width: 5rem;
    height: 4rem;
    align-self: center;
    border: none;
}

button:active {
    background-color: #99d9ff;
}

.hidden {
    visibility: hidden;
    position: fixed;
}

.align-horizontal {
    display: flex;
    align-items: center;
}

.align-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.space-between {
    width: 100%;
    justify-content: space-between;
    width: 41rem;
}

.title {
    font-size: 5rem;
}

.svg {
    width: 7rem;
}

.settings {
    align-items: baseline;
}

.label {
    font-size: 2.5rem;
    color: #e9f7ff;
}

.label-small {
    font-size: 1.5rem;
    color: #e9f7ff;
}

.align-left {
    align-self: flex-start;
    margin-left: 2rem;
}

.margin-right {
    margin-right: 1rem;
}

.margin-right-large {
    margin-right: 3rem;
}

.margin-bottom-small {
    margin-bottom: 2rem;
}

.margin-bottom {
    margin-bottom: 4rem;
}

.margin-bottom-large {
    margin-bottom: 10rem;
}

.margin-bottom-huge {
    margin-bottom: 16rem;
}

input[type='password'],
input[type='text'] {
    border: solid 1px #e9f7ff;
    outline: none;
    background: none;
    border-radius: 25px;
    font-size: 2.3rem;
    height: 3.5rem;
    font-weight: 300;
    color: #e9f7ff;
    padding-left: 1rem;
}

input[type='password'],
input[type='text'] {
    width: 40rem;
}

input.switch {
    position: relative;
    -webkit-appearance: none;
    outline: none;
    width: 10rem;
    height: 4rem;
    background-color: #e9f7ff;
    border: 1px solid #e9f7ff;
    border-radius: 5rem;
    box-shadow: inset -6rem 0 0 0 rgb(50, 76, 221);
}

input.switch:checked {
    box-shadow: inset 6rem 0 0 0 rgb(18, 199, 33);
}

.connect-button {
    width: 41rem;
    font-size: 3rem;
    height: 6rem;
    color: #222;
    background-color: #e9f7ff;
}

.shutdown-button {
    width: 41rem;
    font-size: 3rem;
    height: 6rem;
    color: #eee;
    background-color: #324cdd;
    border-color: #546ae1;
}

.connection,
.connection-success,
.ap-shutdown {
    padding: 2em 1em;
    font-size: 3.2rem;
}

.connection-details {
    padding: 2em 3em;
    font-size: 2.5rem;
}

.spinner {
    margin: auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: rgb(235, 235, 235);

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media screen and (min-width: 640px) {
    html {
        font-size: 13px;
        margin: 30px;
        padding: 12px;
    }

    .space-between {
        width: 533px;
        margin-left: 5px;
    }
}
