html {
    font-size: 2vw;
    font-family: sans-serif;
    font-weight: 100;
    color: orange;
    background: #222;
    margin: 2vw;
    display: flex;
    justify-content: center;
}

button {
    border-radius: 7px;
    background: none;
    outline: none;
    border: solid 1px orange;
    width: 18rem;
    height: 9rem;
}

button:active {
    background-color: orange;
}

.hidden {
    visibility: hidden;
    position: fixed;
}

.align-horizontal {
    display: flex;
    align-items: center;
}

.align-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.space-between {
    width: 100%;
    justify-content: space-between;
}

.vertical-spacer-small {
    height: 1rem;
}

.vertical-spacer {
    height: 3rem;
}

.vertical-spacer-big {
    height: 7rem;
}

.title {
    font-size: 4rem;
}

.category {
    font-size: 2rem;
    margin-top: 1rem;
}

.tag {
    font-size: 2.5rem;
    font-weight: 400;
    width: 3.5rem;
    height: 3.5rem;
    background-color: orange;
    color: #222;
    border-radius: 50%;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ip {
    padding: 0 0.6rem;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: orange;
    color: #222;
    border-radius: 2px;
}

.svg {
    width: 7rem;
}

.svg-clog {
    width: 6rem;
}

.shades,
.groups {
    display: flex;
}

@media screen and (min-width: 640px) {
    html {
        font-size: 13px;
        margin: 10px;
    }

    .space-between {
        width: 535px;
    }
}
