html {
    font-size: 2vw;
    font-family: sans-serif;
    font-weight: 100;
    color: #e9f7ff;
    background: #222;
    margin: 1vw;
    display: flex;
    justify-content: center;
}

body {
    width: 45rem;
    margin: 0;
}

hr {
    border-color: #e9f7ff;
}

button {
    border-radius: 7px;
    background: none;
    outline: none;
    border: solid 1px #e9f7ff;
    color: #e9f7ff;
    width: 18rem;
    height: 9rem;
    border-width: 0.2rem;
}

.button-circle {
    width: 8rem;
    height: 8rem;
    font-size: 2rem;
    border-radius: 50%;
    border-color: #ffeaea;
    border-width: 0.4rem;
}

.button-tiny {
    width: 6rem;
    height: 3rem;
    font-size: 2rem;
    border-color: #ffeaea;
    border-width: 0.4rem;
}

.button-small {
    width: 12rem;
    font-size: 3rem;
}

.button-wide {
    width: 18rem;
    font-size: 2rem;
}

.button-back {
    width: 5rem;
    height: 4rem;
    align-self: center;
    border: none;
}

button:active {
    background-color: #99d9ff;
}

.hidden {
    visibility: hidden;
    position: fixed;
}

.align-horizontal {
    display: flex;
    align-items: center;
}

.align-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.space-between {
    width: 100%;
    justify-content: space-between;
    width: 41rem;
}

.title {
    font-size: 5rem;
}

.tag {
    font-size: 2.5rem;
    font-weight: 400;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #e9f7ff;
    color: #222;
    border-radius: 50%;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ip {
    font-size: 2rem;
    margin: 1rem;
}

.svg {
    width: 7rem;
}

.svg-clog {
    width: 6rem;
}

.svg-back {
    width: 4rem;
    margin-right: 1rem;
}

.settings {
    align-items: baseline;
}

.label {
    font-size: 2.5rem;
    color: #7f8e96;
}

.label-small {
    font-size: 1.5rem;
    color: #e9f7ff;
}

.align-left {
    align-self: flex-start;
    margin-left: 2rem;
}

.margin-right {
    margin-right: 1rem;
}

.margin-right-large {
    margin-right: 3rem;
}

.margin-bottom-small {
    margin-bottom: 2rem;
}

.margin-bottom {
    margin-bottom: 4rem;
}

.margin-bottom-large {
    margin-bottom: 10rem;
}

.margin-bottom-huge {
    margin-bottom: 16rem;
}

input[type='number'],
input[type='password'],
input[type='text'] {
    border: solid 1px #e9f7ff;
    outline: none;
    background: none;
    border-radius: 25px;
    font-size: 2.3rem;
    height: 3.5rem;
    font-weight: 300;
    color: #e9f7ff;
    padding-left: 1rem;
}

input[type='number'] {
    width: 9rem;
}

input[type='password'],
input[type='text'] {
    width: 40rem;
}

.connect-button {
    width: 41rem;
    font-size: 3rem;
    height: 6rem;
    color: #222;
    background-color: #e9f7ff;
}

.colon {
    font-size: 10rem;
    margin: 0 4rem;
}

.color-red {
    background: #ff1c1c;
}

.color-blue {
    background: #344ee1;
}

.color-blue-violet {
    background: #a443ff;
}

.color-yellow {
    background: #fdeb44;
}

.color-green {
    background: #61b400;
}

.color-pink {
    background: #fd798f;
}

.color-orange {
    background: #ff7118;
}

.scoreboard-red {
    color: #ff1c1c;
    border-color: #ff1c1c;
}

.scoreboard-green {
    color: #61b400;
    border-color: #61b400;
}

.connection {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

@media screen and (min-width: 500px) {
    html {
        font-size: 10px;
        margin: 20px;
        padding: 8px;
    }

    .space-between {
        width: 450px;
        margin-left: 5px;
    }
}
